a {
    text-decoration: var(--none);
}

a .block {
    padding-top: 15px;
    display: var(--grid);
    grid-template-columns: var(--auto);
    text-align: var(--center);
    height: 120px;
    border: 1px var(--solid) var(--color_fff);
    transition: 0.25s var(--ease_in_out);
    border-radius: 5px;
}

a .block:hover {
    transition: 0.25s var(--ease_in_out);
    /* box-shadow: 0 0 8px var(--color_000); */
    box-shadow: 3px 10px 10px #aaaaaa;
}

a .block:hover > .txt_block p {
    text-decoration: var(--underline);
}

a .block .img_block img {
    width: 45px;
    height: 45px;
}

a .block .txt_block p {
    font-family: var(--font_family);
    color: var(--color_000);
    font-size: 15px;
}