.block {
    height: 300px;
    width: 230px;
    overflow: var(--hidden);
    border-radius: 12px;
    border: 1px var(--solid) var(--color_aaaaaa);
}

.block:hover {
    box-shadow: 5px 8px 6px var(--color_aaaaaa);
}

.block .img_block {
    max-width: 230px;
    overflow: var(--hidden);
    height: 215px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    border-bottom: 1px var(--solid) var(--color_000);
    background: var(--bg_rgb_247_247_247);
}

.block .img_block img {
    width: 80%;
    object-fit: var(--cover);
    height: 85%;
}

.block .txt_block .title {
    font-family: var(--font_family);
    color: var(--color_000);
    font-weight: 600;
}