.block {
    height: 300px;
    width: 200px;
    overflow: var(--hidden);
    border-radius: 12px;
}

.block .img_block {
    max-width: 199px;
    overflow: var(--hidden);
    height: 150px;
    object-fit: var(--cover);
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.block .img_block img {
    width: 100%;
    height: 100%;
}

.block .txt_block .title {
    font-family: var(--font_family);
}