.main_block {
    padding-top: 65px;
    
}

.main_block .main_block_inner {
    max-width: 1240px;
    margin: var(--margin_0_auto);
    overflow: var(--hidden);
}

.main_block .main_block_inner .grid {
    padding: 10px 15px;
}

.main_block .main_block_inner .grid .title_block {
    padding: 15px 0;
    max-width: 1105px;
    margin: var(--margin_0_auto);
    overflow: var(--hidden);
}

.main_block .main_block_inner .grid .title_block .title {
    font-family: var(--font_family);
    color: var(--color_000);
    font-size: 20px;
    font-weight: 600;
}

.main_block .main_block_inner .grid .title_block .under_title {
    font-family: var(--font_family);
    color: var(--color_000);
    font-size: 14.8px;
    font-weight: 500;
}

.main_block .main_block_inner .grid .second_title {
    font-family: var(--font_family);
    color: var(--color_000);
    font-weight: 600;
    font-size: 20px;
    padding: 7px 0;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.main_block .main_block_inner .grid .grid_inner {
    display: var(--grid);
    grid-template-columns: var(--auto) var(--auto) var(--auto) var(--auto);
    column-gap: 35px;
    row-gap: 25px;
    justify-content: var(--center);
    align-items: var(--center);
}