.main_block .main_block_inner {
    max-width: 1240px;
    margin: var(--margin_0_auto);
    overflow: var(--hidden);
}

.main_block .main_block_inner .grid {
    padding: 10px 15px;
}

.main_block .main_block_inner .grid .grid_inner {
    
}