a {
    text-decoration: var(--none);
}

a .block {
    padding-top: 15px;
    display: var(--grid);
    grid-template-columns: var(--auto);
    text-align: var(--center);
    border-radius: 5px;
    height: 140px;
}

a .block .img_block img {
    width: 45px;
    height: 45px;
}

a .block .txt_block p {
    font-family: var(--font_family);
    color: var(--color_fff);
    font-size: 15px;
}