a {
    text-decoration: var(--none);
}

a .block {
    background: var(--bg_4a4a4a);
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    text-align: var(--center);
    border-radius: 5px;
}