a {
    text-decoration: var(--none);
}

a .block {
    padding-top: 15px;
    display: var(--grid);
    grid-template-columns: var(--auto);
    text-align: var(--center);
    height: 140px;
    border: 1px var(--solid) var(--color_fff);
}

a .block:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px var(--color_000);
}

a .block .img_block img {
    width: 45px;
    height: 45px;
}

a .block .txt_block p {
    font-family: var(--font_family);
    color: var(--color_000);
    font-size: 15px;
}