.main_block {
    position: var(--relative);
    padding: 20px 15px;
    height: 400px;
    top: 74px;
    background: var(--bg_fff);
    border: 1px solid black;
    width: 100%;
}

.main_block .main_block_inner {
    max-width: 1260px;
    margin: var(--margin_0_auto);
    overflow: var(--hidden);
}

.main_block .main_block_inner .grid p {
    font-family: var(--font_family);
    color: var(--color_000);
    font-weight: 600;
}

.main_block .main_block_inner .grid .grid_inner {
    display: var(--grid);
    grid-template-columns: var(--auto) var(--auto) var(--auto) var(--auto) var(--auto) var(--auto);
    column-gap: 15px;
    row-gap: 17px;
}