@use './main.scss';

.main_block {
    position: main.$relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .main_block_inner {
        max-width: 1230px;
        margin: main.$margin-0-auto;
        display: main.$grid;
        justify-content: main.$center;
        align-items: main.$center;
        grid-template-columns: main.$auto main.$auto main.$auto main.$auto;
        column-gap: 20px;

        .block {
            display: main.$grid;
            grid-template-columns: main.$auto;
            row-gap: 12px;
        }
    }
}