.main_block {
    position: var(--relative);
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.main_block .main_block_inner {
    max-width: 1230px;
    margin: var(--margin_0_auto);
    display: var(--grid);
    justify-content: var(--center);
    align-items: var(--start);
    grid-template-columns: var(--auto) var(--auto) var(--auto) var(--auto) var(--auto);
    column-gap: 80px;
}

.main_block .main_block_inner .block {
    display: var(--grid);
    grid-template-columns: var(--auto);
    row-gap: 12px;
}

.main_block .main_block_inner .block .title {
    font-family: var(--font_family);
    font-weight: 600;
    font-size: 14px;
}

.main_block .main_block_inner .block a {
    font-family: var(--font_family);
    font-size: 13.8px;
    font-weight: 500;
    color: var(--color_4a4a4a);
}