@use '../Scss/main.scss';

.block {
    width: 100%;
    height: 75px;
    position: main.$fixed;
    background: main.$bg_fff;
    z-index: 1000;
    border-bottom: 1.4px main.$solid main.$color_929292;

    .block_inner {
        max-width: 1230px;
        height: 100%;
        margin: main.$margin-0-auto;
        overflow: main.$hidden;
        display: main.$flex;
        justify-content: main.$space_between;
        align-items: main.$center;
    }
}