@use '../Scss/main.scss';

a {
    text-decoration: main.$none;
}

.main_block {
    display: main.$flex;
    align-items: main.$center;
    gap: 0 17px;

    p {
        font-family: main.$font_family;
        font-weight: 600;
        font-size: 17px;
        color: main.$color_000;
    }

    .logo_box {
        max-width: 62px;
        max-height: 62px;
        object-fit: main.$cover;
        display: main.$flex;
        justify-content: main.$center;
        align-items: main.$center;
        overflow: main.$hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}