@use './main.scss';

.block_inner {
    background: main.$bg_fff;
    border-radius: 7px;
    border: 1px main.$solid main.$color_000;
    max-width: 490px;
    margin: main.$margin-0-auto;
    overflow: main.$hidden;
    text-align: main.$center;
    padding: 10px 25px;

    .top_block {
        border-bottom: 1px main.$solid main.$color_000;

        .title {
            font-family: main.$font_family;
            color: main.$color_000;
            font-weight: 600;
            font-size: 22px;
        }
    }

    .center_block {
        padding-top: 25px;
        display: main.$grid;
        grid-template-columns: main.$auto main.$auto;
        row-gap: 10px;
        column-gap: 10px;
    }

    .choose_block {
        padding-top: 15px;
        display: main.$flex;
        justify-content: main.$center;
        align-items: main.$center;
        column-gap: 20px;

        p {
            font-family: main.$font_family;
            color: main.$color_000;
            font-weight: 600;
        }
    }

    .bottom_block {
        padding-top: 15px;
        padding-bottom: 5px;

        p {
            font-family: main.$font_family;
            font-size: 15px;
            color: main.$color_000;

            .log_in_btn {
                font-family: main.$font_family;
                color: main.$color_5d08dc;
                font-size: 14px;
                text-transform: main.$inherit;
                background: main.$none;
                width: 50px;
                border: main.$none;
                cursor: main.$pointer;

                &:hover {
                    background: main.$none;
                    text-decoration: main.$underline;
                }
            }
        }

        .reg_btn {
            font-family: main.$font_family;
            color: main.$color_fff;
            background: main.$bg_000;
            border-radius: 30px;
            padding: 10px 30px;
            width: 200px;
            font-weight: 600;
        }
    }
}